docer-compose/.env

# Ignore local yml files, as they contain private ECR repos
docker-compose/*.yml

# Ignore OSM data
*.osm
*.osm.pbf

# Hide notes folder, which can be used to store extra instructions
notes/

gis_data/

*.tar
*.tar.gz
